Tuple exaplanation in Python

In [1]:
Tuple=('value','value1')
print(Tuple)

('value', 'value1')

In [2]:
print(type(Tuple))

<class 'tuple'>

In [23]:
for x in Tuple: # Tuple can be iterated 
  print(x)

value
value1

In [5]:
print(Tuple[0]) # Tuple can be Indexed

value

In [7]:
Tuple.append('Value2') # Tuple cannot be Mutable 

# AttributeError: 'tuple' object has no attribute 'append'

AttributeError: ignored

In [31]:
value='value3'
Tuple.insert(1, value) # Tuple cannot be changed or Mutable

# AttributeError: 'tuple' object has no attribute 'insert'

AttributeError: ignored

In [11]:
# Negative Indexing 
print(Tuple[-1]) # Prints last element in Tuple

value1

In [32]:
print(Tuple[-2]) # Prints 2nd last element

value

In [38]:
# convert Tuple to List and add element

List_Tuple= list(Tuple)
print(List_Tuple)
List_Tuple.append('value2')
print('Appended Value2 ', List_Tuple)

# Remove a Tuple using List (First Convert Tuple to List and then remove)
Tuple_To_Remove= list(List_Tuple)
Tuple_To_Remove.remove('value2')
print('Removed Value2 : ',Tuple_To_Remove)

['value', 'value1']
Appended Value2  ['value', 'value1', 'value2']
Removed Value2 :  ['value', 'value1']

In [39]:
# Adding Tuple with another Tuple

Tuple_2=('value3', 'value4')
Add_2_Tuple= Tuple+ Tuple_2
print('Adding with 2 Tuples', Add_2_Tuple)

Adding with 2 Tuples ('value', 'value1', 'value3', 'value4')

In [46]:
# Unpacking Tuple
Tuple=('value', 'value1', 'value2')
print(Tuple) # 'value', 'value1', 'value2']
(a,b,c)=Tuple
print(a)
print(b)
print(c)

('value', 'value1', 'value2')
value
value1
value2

In [50]:
# using *
print('Tuple:',Tuple) # 'value', 'value1', 'value2']
(w,*v)=Tuple # value after * it takes values  
print('First :',w)
print('Second :',v)

Tuple: ('Value', 'value1', 'value2')
First : Value
Second : ['value1', 'value2']

In [49]:
# Multiply Tuples
Tuple=('Value', 'value1', 'value2')
multiply= Tuple*2
print(multiply)

('Value', 'value1', 'value2', 'Value', 'value1', 'value2')